<% content_for :title do %>
このページは現在準備中です。
<% end %>

<div style="background-image: url(<%= asset_path('img/bg7.jpg') %>);">

  <div class="pt-5">
    <div class="pt-5">
    </div>
  </div>

  <div class="container">
    <div style="margin-top:120px;">
      <div class="col-lg-9 col-md-9 ml-auto mr-auto">
        <div class="card">
          <div class="row" style="padding: 40px;">
            <div class="col-lg-8 col-md-12 ml-auto mr-auto">
              <div style="font-size: 31px; padding-top: 30px; line-height: 1.5;">
                <b>このページは現在準備中です。<br>もうしばらくお待ちください。<br>
                <div class="link_to_top">
                  <a href="/">トップページへ戻る</a></b>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-xs-12 ml-auto mr-auto" style="align: center;">
              <img src=<%= asset_path('img/logo.png') %> alt="logo.png" width="200px" height="auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="pt-5">
    </div>
  </div>

</div>