<% content_for :title do %>
WUKSproject
<% end %>

<div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('./assets/img/Home.jpg');">
  <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>タチアガレ<br>高専生</h1>
            <h3>後悔しない5年間に。知ろう。繋がろう。</h3>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2>全国の高専生と情報を共有しよう。</h2>
            <h4>高専生の進学・就職は情報戦。沢山の情報を見つけよう。</h4>
          </div>
        </div>
      </div>
    </div>
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-text card-header-primary">
                <div class = "card-text">
                  <a href = "transfer"><h3 class><i class="material-icons">school</i>　編入する</h3></a>
                </div>
              </div>
              <div class="card-body mt-2">
                  <p>ここから、全国の編入を目指す高専生を見つけたり、進学した先輩の声を聞いたりしましょう。</p>
                  <p>各大学の編入の日程なども確認できます。</p>
                  <br>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <a href="career">
              <div class="card-header card-header-text card-header-primary">
                <div class = "card-text">
                  <h3 class><i class="material-icons">business</i>　就職する</h3>
                </div>
              </a>
              </div>
              <div class="card-body mt-2">
                  <p>ここから、あなたの知らない高専生を求める企業を探したり、就職した先輩の声を聞いたりしましょう。</p>
                  <p>インターンの日程や内容についても確認できます。</p>
                  <br>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- イベント情報を新しいものから4つ並べる -->
<div class="pt-5"></div>
<div class="topTitle">
  <h1>イベント情報</h1>
</div>

<div class="listBlocks">
  <div class="row">

    <div class="col-md-3 col-sm-6">
      <div class="card">
        <a href="/">
          <div class="listImg">
            <span class="badge badge-pill badge-warning">募集中</span>
          </div>
          <div class="listContent">
            <div class="listTitle">
              イベントタイトルをここに書きます。
            </div>
            <div class="contentDetail">
              場所: 
              <span class="eventPlace">イベントを開催する場所をここに書きます。</span>
              <br>
              日時: 
              <span class="eventDate">イベントを開催する日時をここに書きます。</span>
            </div>
            <div class="tagArea">
              <span class="badge badge-pill badge-rose">場所</span>
              <span class="badge badge-pill badge-success">分野</span>
              <span class="badge badge-pill badge-info">規模</span>
              <span class="badge badge-pill badge-danger">交通費支給</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="card">
        <a href="/">
          <div class="listImg">
            <span class="badge badge-pill badge-default">応募終了</span>
          </div>
          <div class="listContent">
            <div class="listTitle">
              イベントタイトルをここに書きます。
            </div>
            <div class="contentDetail">
              場所: 
              <span class="eventPlace">イベントを開催する場所をここに書きます。</span>
              <br>
              日時: 
              <span class="eventDate">イベントを開催する日時をここに書きます。</span>
            </div>
            <div class="tagArea">
              <span class="badge badge-pill badge-rose">場所</span>
              <span class="badge badge-pill badge-success">分野</span>
              <span class="badge badge-pill badge-info">規模</span>
              <span class="badge badge-pill badge-danger">交通費支給</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="card">
        <a href="/">
          <div class="listImg">
            <span class="badge badge-pill badge-default">応募終了</span>
          </div>
          <div class="listContent">
            <div class="listTitle">
              イベントタイトルをここに書きます。
            </div>
            <div class="contentDetail">
              場所: 
              <span class="eventPlace">イベントを開催する場所をここに書きます。</span>
              <br>
              日時: 
              <span class="eventDate">イベントを開催する日時をここに書きます。</span>
            </div>
            <div class="tagArea">
              <span class="badge badge-pill badge-rose">場所</span>
              <span class="badge badge-pill badge-success">分野</span>
              <span class="badge badge-pill badge-info">規模</span>
              <span class="badge badge-pill badge-danger">交通費支給</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="card">
        <a href="/">
          <div class="listImg">
            <span class="badge badge-pill badge-default">応募終了</span>
          </div>
          <div class="listContent">
            <div class="listTitle">
              イベントタイトルをここに書きます。
            </div>
            <div class="contentDetail">
              場所: 
              <span class="eventPlace">イベントを開催する場所をここに書きます。</span>
              <br>
              日時: 
              <span class="eventDate">イベントを開催する日時をここに書きます。</span>
            </div>
            <div class="tagArea">
              <span class="badge badge-pill badge-rose">場所</span>
              <span class="badge badge-pill badge-success">分野</span>
              <span class="badge badge-pill badge-info">規模</span>
              <span class="badge badge-pill badge-danger">交通費支給</span>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>

<!-- イベント一覧ページへのリンクボタン -->
<div class="text-center">
  <a href="/">
    <button class="btn btn-primary" style="font-size: 14px;">イベント情報を詳しく見る
      <div class="ripple-container"></div>
    </button>
  </a>
</div>

<div class="pt-5"></div>
