<% content_for :title do %>
<%= @comp.name %> | 就職
<% end %>

<section class="py-5 bg-image-full" style="background-image: url('/assets/img/comp/<%= @comp.name %>.jpg');">
    <div style="height: 150px;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1><%= @comp.name %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class ="container">
<div class="pt-3"></div>
<h1 class ="heading">企業情報</h1>
<!--
<div class="card-header card-header-danger">
  <div class="card card-nav-tabs card-plain">
    <div class="card-header card-header-danger">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#home" data-toggle="tab">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#updates" data-toggle="tab">Updates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#history" data-toggle="tab">History</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body ">
      <div class="tab-content text-center">
        <div class="tab-pane active" id="home">
          <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
        </div>
        <div class="tab-pane" id="updates">
          <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
        </div>
        <div class="tab-pane" id="history">
          <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
        </div>
      </div>
    </div>
  </div>
-->
</div>