<% content_for :title do %>
お知らせ | WUKS
<% end %>

<section class="py-5 bg-image-full" style="background-image: url(<%= asset_path('img/bg_news.jpg') %>);">
    <div style="height: 150px;">
        <div class="pt-5">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <h1>お知らせ一覧</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="wrap">
        <div class="pad50">
        </div>
        <ul id="notic_list_v2">
            <% @news.each do |news| %>
            <li>
                <div>
                    <p class="date"><%= news.date %></p>
                    <p class="title">
                        <%= link_to news_show_path(id:news.id) do %>
                            <%= news.name %>
                        <% end %>
                    </p>
                </div>
            </li>
            <% end %>
    </div>
</div>