/*TO DISPLAY BOTH CONTENTS LIKE 3D*/

a, a:visited, a:link, a:active {
  color: white;
}

.card .card-header-primary:hover{
  box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.card#event:hover{
  box-shadow:0 3px 6px rgba(0,0,0,0.5);
}

.link_to_top a{
  color: blue;
  text-decoration: underline;
  font-size: 20px;
  margin: auto;
  display: block;
  width: 250px;
  margin-top: 20px;
}

.topTitle{
  font-size: 30px;
  text-align: center;
}


.listBlocks{
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.listImg{
  position: relative;
  height: 120px;
  overflow: hidden;
  background: lightblue;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.listImg img{
  /* object-fit: cover; */
  width: 100%;
  max-height: 100%;
}

.listImg span{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 80px;
  text-align: center;
  border-radius: 12px;
  display: block;
  padding: 5px 0 4px;
  color: #fff;
  box-shadow: #b2b1b1 2px 2px 3px;
}

.listTitle{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.listContent {
  padding: 12px;
  line-height: 1.6;
  color: #333333;
}
.contentDetail{
  color: darkviolet;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
}

.tagArea{
  border-top: 2px solid #d9d9d9;
  text-align: center;
  display: block;
  color: #fff;
  padding-top: 10px;
}

.tagArea span{  
  font-size: 12px;
  font-weight: bold;
  box-shadow: #b2b1b1 2px 2px 3px;
  margin: 0px 3px 3px;
}

html {
  font-size: 75%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

