/*TO DISPLAY BOTH CONTENTS LIKE 3D*/

a, a:visited, a:link, a:active {
  color: white;
}

.card .card-header-primary:hover{
  box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.link_to_top a{
  color: blue;
  text-decoration: underline;
  font-size: 20px;
  margin: auto;
  display: block;
  width: 250px;
  margin-top: 20px;
}

html {
  font-size: 75%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

