body {
  padding-top: 56px;
}


.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.bg-image-full::before{
    background-color: rgba(0,0,0,0.5);
    /* どの範囲に重ねるかを指定 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

.brand{
    z-index:1;
}

.navbar {
    border: 0;
    border-radius: 3px;
    padding: 0.625rem 0;
    margin-bottom: 0px;
    color: #555;
    background-color: #fff !important;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}



/*TO DISPLAY UNIVERSITYIES EACHES */

.product {
    /*
    margin-bottom: 20px;
    */
    padding-top:20px;
    padding-bottom:20px;
}

.img-thumbnail {
    max-height: 200px;
    max-width : 300px; 
}

.product:hover{
  box-shadow: 0px 0px 8px 3px #ccc;
  color: red;
}

a, a:hover, a:visited, a:link, a:active {
  color: black;
}

.forbadge{
  margin-top: 5px;
  margin-bottom: 5px;
}

.nameUni{
  font-weight: 700;
}
