body {
  padding-top: 0px;
}


/* 企業情報をsukimaっぽく横に3つ並べるためのやつら */
.topTitle {
  font-size: 30px;
  text-align: center;
}


.listBlocks {
  width: 65%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.listImg {
  position: relative;
  height: 120px;
  overflow: hidden;
  background: white;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.listImg img {
  /* object-fit: cover; */
  width: 100%;
  max-height: 100%;
}

.listImg span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 80px;
  text-align: center;
  border-radius: 12px;
  display: block;
  padding: 5px 0 4px;
  color: #fff;
  box-shadow: #b2b1b1 2px 2px 3px;
}

.listTitle {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
  line-height: 1.2;
  color: #3C4858;
}

.listContent {
  padding: 12px;
  line-height: 1.6;
  color: #333333;
}

.contentDetail {
  color: #728b97;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
}

.tagArea {
  border-top: 2px solid #d9d9d9;
  text-align: center;
  display: block;
  color: #fff;
  padding-top: 10px;
}

.tagArea span {
  font-size: 0.8em;
  font-weight: bold;
  box-shadow: #b2b1b1 2px 2px 3px;
  margin: 0px 3px 3px;
}

html {
  font-size: 75%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

li.fac_L{
  list-style-type: none;
  margin-top: 15px;
}

ul.dep_L {
	padding: 0.5em;
  list-style-type: none;
  margin-bottom: 0px;
}
ul.dep_L li {
	position: relative;
	padding: 0.5em 1em 0.5em 2.7em;
  margin-bottom:5px;
}
ul.dep_L li:after,
ul.dep_L li:before{
	content:'';
	position: absolute;
	border-radius: 50%;
}
ul.dep_L li:before {
	top: 50%;
	left: 0.5em;
	width: 17px;
	height: 17px;
	background: rgba(25,118,210, 1);
	transform: translateY(-50%);
}
ul.dep_L li:after {
	top: 1.1em;
	left: 1.0em;
	width: 14px;
	height: 14px;
	background: rgba(25,118,210, 0.5);
}

.subjects{
  font-size: 12px;
  color: #8a8f9c;
}

