/* --------------------------------------------------
詳細ページ全般に関するCSS(?)
 -------------------------------------------------- */

.heading {
  padding: 10px;
  margin: 0px;
  font-weight: 600;
  text-align: center;
}

.sub {
  padding: 8px 6px;
  font-weight: 600;
  border-bottom: 1px solid;
  letter-spacing: 2px;
  font-size: 1.7em;
  color: #455A64;
  margin-bottom: 18px;
  margin-top: 0px;

}



/* --------------------------------------------------
 各大学情報に関するCSS(?)
 -------------------------------------------------- */

.card .card-header-primary,
.card.bg-primary,
.card.card-rotate.bg-primary .front,
.card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg, #4e54c8, rgba(18, 18, 199, 0.733));
}

.card .card-header-primary {
  box-shadow: 0 0px 0px 0px rgba(28, 88, 218, 0.2), 0 0px 0px 0px rgba(35, 16, 212, 0.6);
  padding: 3px 3px 3px 3px;
}


.card-header {
  padding: 0.0rem 0rem;
  border-bottom: 0px solid rgba(0, 0, 0, 0.12);
}

.card .card-header {
  border-radius: 0px;
}

.nav-tabs .nav-item .nav-link {
  font-size: 1em;
}

.btn-default {
  margin-left: 15%;
}

.univ-padding {
  padding: 0px 10px 30px 10px;
}

@media screen and (max-width: 895px) {
  .nav-tabs .nav-item .nav-link {
    line-height: 2em;
    font-size: 1em;
    padding: 0.5em 0.8em;
  }
}

/* --------------------------------------------------
 企業詳細画面に関するCSS(?)
 -------------------------------------------------- */

.article {
  padding-left: 5px;
  /* ------------------------------------------------
    メモ: font-sizeの計算方法
    (1)横幅が768px未満
    100% + 0.5/100 * 横幅(px)
    例)100%が16pxで横幅800pxならfont-sizeは20pxになる
    (2)横幅が768px以上
    768px,1024pxをブレークポイントとして%で指定(下のメディアクエリ参照)
  ------------------------------------------------ */
  font-size: calc(100% + 0.5vw);
  line-height: 2em;
  margin-bottom: 15px;
}

.article::after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .article {
    font-size: 87.5%;
  }
}

@media screen and (min-width: 1024px) {
  .article {
    font-size: 100%;
  }
}

.article#mission {
  font-size: calc(112.5% + 0.5vw);
  font-weight: bold;
}

.card-doby {
  padding-bottom: 0px;
}

.card {
  margin-bottom: 0px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.12);
}


.main-content .content-area {
  padding: 20px 15px;
}

.company-info-table,
.wanted-info-table {
  background-color: #fff;
  font-size: 13px;
  margin: -1px 0 0;
  width: 100%;
}

.company-info-table th,
.wanted-info-table th {
  background: #f0f0f0;
  color: #00A4BB;
  height: 30px;
  padding-left: 15px;
  vertical-align: middle;
  text-align: left;
  font-weight: 300;
  font-size: 12px;
}

.company-info-table td.head,
.wanted-info-table td.head {
  min-width: 80px;
  color: #9DA0A4;
  font-size: 12px;
}

.company-info-table td,
.wanted-info-table td {
  padding: 10px 15px 10px 15px;
}

.comp-rel {
  padding: 0px 0px 5px 5px;
  margin: 0px;
  font-weight: 600;
  text-align: left;
}


a.company-title-section {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

ul.comp-info-list li {
  font-size: 0.8em;
  padding: 0.2em;
  list-style-type: none;
  margin-bottom: 0px;
}

ul.comp-info-list li i {
  font-size: 0.9em;
}

img.company-avatar {
  border: none;
  width: 50px;
  height: auto;
}

u {
  color: #3C4858;
  text-decoration: none;
}

.company-name {
  flex-shrink: 1;
  padding-left: 12px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1.5;
  color: #3C4858;
  margin: 0px 0px 0px 0px;
}

.iframe-wrap {
  position: relative;
  width: 100%;
  /* padding-top: 75%; /* = height ÷ width × 100 */
}

.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sticky {
  position: sticky;
  top: 100px;
}

.sp{
  display: none;
}

.joinButton {
  text-align: center;
}

.joinButton a {
  display: block;
  color: #fff;
  background: #4e54c8;
  font-size: 12px;
  border: 1px solid #e3f2fd;
  padding: 10px 0;
  font-weight: bold;
  letter-spacing: 2px;
}

@media screen and (max-width: 766px) {
  .padding-res-comp{
    /*
      padding: 0px 0px 0px 0px;
      */
  }

  .sp{
    display: block;
  }

  .detail-button{
    display: none;
  }

  ul.comp-info-list li {
    font-size: 1.0em;
    padding: 0.2em;
    list-style-type: none;
    margin-bottom: 0px;
}
}

@media screen and (max-width: 1024px){
    .spEntry.sp {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99999;
    }
}

/* --------------------------------------------------
 お知らせ画面に関するCSS(?)
 -------------------------------------------------- */
.right-img {
  float: right;
  margin-left: 36px;
}

@media screen and (max-width: 895px) {
  .right-img {
    display: block;
    clear: both;
    text-align: center;
    float: none;
    margin-left: 0;
  }
}

.center-img {
  display: block;
  clear: both;
  text-align: center;
}

/*----------------------
 時間割の表に関するCSS
 ----------------------*/
#sched table td.items {
  color: black;
  font-size: 0.3em;
  padding: 0.3em;
  width: 100px;
  height: 30px;
}


#sched table th,
#sched table td {
  border: 1px solid #333333;
  text-align: center;
}

#sched table th {
  padding: 0.5em 0.5em 0.5em 0.5em;
}

#sched td.root {
  border: none;
  padding: 10px;
}


/* 表を横にスクロールできるようにする */
.table-scroll {
  display: block;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

/* スクロールできることを表記する */
@media screen and (max-width:991px) {
  .table-r::before {
    content: "※この表は横にスクロールできます。";
    color: #ff0000;
  }
}