/* --------------------------------------------------
詳細ページ全般に関するCSS(?)
 -------------------------------------------------- */

.heading{
    padding: 10px;
    margin:0px;
    font-weight: 600;
    text-align: center;
}

.sub{
    padding: 8px 6px;
    font-weight: 600;
    border-bottom: 1px solid;
    letter-spacing: 2px;
    font-size: 1.7em;
    color: #455A64;
    margin-bottom: 14px;
}



/* --------------------------------------------------
 各大学情報に関するCSS(?)
 -------------------------------------------------- */

.card .card-header-primary,
.card.bg-primary,
.card.card-rotate.bg-primary .front,
.card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg, #4e54c8, rgba(18, 18, 199, 0.733));
}

.card .card-header-primary {
  box-shadow: 0 0px 0px 0px rgba(28, 88, 218, 0.2), 0 0px 0px 0px rgba(35, 16, 212, 0.6);
  padding: 3px 3px 3px 3px;
}


.card-header{
  padding: 0.0rem 0rem;
}

.card .card-header{
  border-radius: 0px;
}

.nav-tabs .nav-item .nav-link {
  font-size: 1em;
}

.btn-default {
  margin-left: 15%;
}

.univ-padding{
  padding: 0px 10px 30px 10px;
}

@media screen and (max-width: 895px) { 
  .nav-tabs .nav-item .nav-link{
    line-height: 2em;
    font-size: 1em;
    padding: 0.5em 0.8em;
  }
}
/* --------------------------------------------------
 企業詳細画面に関するCSS(?)
 -------------------------------------------------- */

.article {
  padding-left: 5px;
  /* ------------------------------------------------
    メモ: font-sizeの計算方法
    (1)横幅が768px未満
    100% + 0.5/100 * 横幅(px)
    例)100%が16pxで横幅800pxならfont-sizeは20pxになる
    (2)横幅が768px以上
    768px,1024pxをブレークポイントとして%で指定(下のメディアクエリ参照)
  ------------------------------------------------ */
  font-size: calc(100% + 0.5vw);
  line-height: 2em;
}

.article::after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .article {
    font-size: 87.5%;
  }
}
@media screen and (min-width: 1024px) {
  .article {
    font-size: 100%;
  }
}

.article#mission {
  font-size: calc(112.5% + 0.5vw);
  font-weight: bold;
}

.card-doby{
    padding-bottom: 0px;
}

.card{
    margin-bottom: 0px;
}

.main-content .content-area {
  padding: 20px 15px;
}

/* --------------------------------------------------
 お知らせ画面に関するCSS(?)
 -------------------------------------------------- */
.right-img {
  float: right;
  margin-left: 36px;
}

@media screen and (max-width: 895px) {
  .right-img {
    display: block;
    clear: both;
    text-align: center;
    float: none;
    margin-left: 0;
  }
}

.center-img {
  display: block;
  clear: both;
  text-align: center;
}