/* --------------------------------------------------
詳細ページ全般に関するCSS(?)
 -------------------------------------------------- */

.heading{
    padding: 10px;
    margin:0px;
    padding-left:20px;
    background: #f6f6f6;
    border-left:10px solid #4e54c8;
    font-weight: 600;
}

.sub {
  position: relative;
  font-size: 2.0em;
  padding: .25em 0 .25em .75em;
  border-left: 7px solid #4e54c8;
  color: #3C4858;
  background-color: #f6f6f6;
  font-weight: 600;
}

sub::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}

/* --------------------------------------------------
 各大学情報に関するCSS(?)
 -------------------------------------------------- */

.card .card-header-primary,
.card.bg-primary,
.card.card-rotate.bg-primary .front,
.card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg, #4e54c8, rgba(18, 18, 199, 0.733));
}

.card .card-header-primary {
  box-shadow: 0 5px 20px 0px rgba(28, 88, 218, 0.2), 0 13px 24px -11px rgba(35, 16, 212, 0.6);
  padding: 3px 3px 3px 3px;
}

.card .card-header{
  padding: 5px,5px;
}

.nav-tabs .nav-item .nav-link {
  font-size: 1.4em;
}

.btn-default {
  margin-left: 15%;
}

.subject-badge {
  padding: 5px;
  font-size: 11px;
}

.math-badge {
  background-color: deepskyblue;
}

.english-badge {
  background-color: green;
}

.physics-badge {
  background-color: red;
}

.chemistry-badge {
  background-color: yellow;
}

.special-badge {
  background-color: purple;
}

.external-english-badge {
  background-color: pink;
}

.interview-badge {
  background-color: gold;
}

.other-badge {
  background-color: gray;
}

@media screen and (max-width: 895px) { 
  .nav-tabs .nav-item .nav-link{
    line-height: 2em;
    font-size: 1.2em;
    padding: 0.5em 0.8em;
  }
}
/* --------------------------------------------------
 企業詳細画面に関するCSS(?)
 -------------------------------------------------- */

.article {
  padding-left: 25px;
  font-size: 18px;
  line-height: 1.5;
}

.article#mission {
  font-size: 22px;
  font-weight: bold;
}

.card-doby{
    padding-bottom: 0px;
}

.card{
    margin-bottom: 0px;
}

.main-content .content-area {
  padding: 20px 15px;
}

