/* --------------------------------------------------
詳細ページ全般に関するCSS(?)
 -------------------------------------------------- */

.heading{
    padding: 10px;
    margin:0px;
    padding-left:20px;
    font-weight: 600;
    text-align: center;
}

.sub {
  position: relative;
  font-size: 2.0em;
  padding: .25em 0 .25em .75em;
  border-left: 10px solid #4e54c8;
  border-right: 10px solid #4e54c8;
  color: #3C4858;
  /*background-color: #f6f6f6;*/
  background-color: #f9f9f9;
  font-weight: 600;
  text-align: center;
}

sub::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}

/* --------------------------------------------------
 各大学情報に関するCSS(?)
 -------------------------------------------------- */

.card .card-header-primary,
.card.bg-primary,
.card.card-rotate.bg-primary .front,
.card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg, #4e54c8, rgba(18, 18, 199, 0.733));
}

.card .card-header-primary {
  box-shadow: 0 5px 20px 0px rgba(28, 88, 218, 0.2), 0 13px 24px -11px rgba(35, 16, 212, 0.6);
  padding: 3px 3px 3px 3px;
}

.card .card-header{
  padding: 5px,5px;
}

.nav-tabs .nav-item .nav-link {
  font-size: 1em;
}

.btn-default {
  margin-left: 15%;
}

.subject-badge {
  padding: 5px;
  font-size: 11px;
}

.math-badge {
  background-color: deepskyblue;
}

.english-badge {
  background-color: green;
}

.physics-badge {
  background-color: red;
}

.chemistry-badge {
  background-color: yellow;
}

.special-badge {
  background-color: purple;
}

.external-english-badge {
  background-color: pink;
}

.interview-badge {
  background-color: gold;
}

.other-badge {
  background-color: gray;
}

@media screen and (max-width: 895px) { 
  .nav-tabs .nav-item .nav-link{
    line-height: 2em;
    font-size: 1em;
    padding: 0.5em 0.8em;
  }
}
/* --------------------------------------------------
 企業詳細画面に関するCSS(?)
 -------------------------------------------------- */

.article {
  padding-left: 15px;
  /* ------------------------------------------------
    メモ: font-sizeの計算方法
    (1)横幅が768px未満
    100% + 0.5/100 * 横幅(px)
    例)100%が16pxで横幅800pxならfont-sizeは20pxになる
    (2)横幅が768px以上
    768px,1024pxをブレークポイントとして%で指定(下のメディアクエリ参照)
  ------------------------------------------------ */
  font-size: calc(100% + 0.5vw);
  line-height: 2em;
}

.article::after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .article {
    font-size: 87.5%;
  }
}
@media screen and (min-width: 1024px) {
  .article {
    font-size: 100%;
  }
}

.article#mission {
  font-size: calc(112.5% + 0.5vw);
  font-weight: bold;
}

.card-doby{
    padding-bottom: 0px;
}

.card{
    margin-bottom: 0px;
}

.main-content .content-area {
  padding: 20px 15px;
}

/* --------------------------------------------------
 お知らせ画面に関するCSS(?)
 -------------------------------------------------- */
.right-img {
  float: right;
  margin-left: 36px;
}

@media screen and (max-width: 895px) {
  .right-img {
    display: block;
    clear: both;
    text-align: center;
    float: none;
    margin-left: 0;
  }
}

.center-img {
  display: block;
  clear: both;
  text-align: center;
}