

.pad25 {
        padding: 10px 0 25px 0;
}

.pad10 {
    padding: 10px 0 0 0;
}

.pad50 {
    padding: 50px 0 0 0;
}

.content_body {
    background: #ffffff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* page topのボタン用 */
#scrollTop {
    display: none;  /* 最初は非表示にしておく */
    background: radial-gradient(deepskyblue,royalblue);
    border-radius: 40px;
    bottom: 10px;
    right: 10px;
    padding: 6px;
    text-align: center;
    position: fixed;  /* 位置は右下で固定 */
    z-index: 10;      /* cardより前面に表示したいので */
    box-shadow:0 3px 3px rgba(0,0,0,0.5);
  }

  #scrollTop a{
    padding: 2px;
    color: white;
  }

  #scrollTop i{
    padding: 5px;
    font-size: 30px;
    transform: rotate(-90deg);
  }

  /* --------------------------------------------------
 03: Wrapper Style
 -------------------------------------------------- */
.wrap {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#container {
    position: relative;
}

@media screen and (min-width: 896px) and (max-width: 1279px) {
    .wrap {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 895px) {
    .wrap {
        width: 100%;
        box-sizing: border-box;
        padding: 0 3% 0;
    }

    .wrap02 {
        width: 100%;
        box-sizing: border-box;
        padding: 0 3% 0;
    }
}

ol,ul {
    list-style: none;
    padding-inline-start: 0px;
}

ul#notic_list {
    display: block;
    clear: both;
    margin: 0 0 30px 0;
    border-top: 1px dotted #666;
}

ul#notic_list li {
    display: block;
    border-bottom: 1px dotted #666;
    position: relative;
}

ul#notic_list li>div {
    display: table;
    width: 100%;
    text-decoration: none;
}

ul#notic_list li>div .date {
    display: table-cell;
    width: 250px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 0 0 0 0;
}

ul#notic_list li>div .title {
    display: table-cell;
    padding: 22px 60px 22px 0;
    font-size: 1.4rem;
    letter-spacing: 2px;
    text-align: left;
}

ul#notic_list li>div .title a {
    font-size: 1.2rem;
    color: #3C4858;
    font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    transition: .2s;
    text-decoration: underline;
}


@media screen and (min-width: 896px) and (max-width: 1279px) {
    ul#notic_list {
        display: block;
        clear: both;
        width: 100%;
        margin: 0 auto 30px;
        border-top: 1px dotted #666;
    }

    ul#notic_list li {
        display: block;
        border-bottom: 1px dotted #666;
        position: relative;
    }

    ul#notic_list li>div {
        display: table;
        width: 100%;
        text-decoration: none;
    }

    ul#notic_list li>div .date {
        display: table-cell;
        width: 180px;
        vertical-align: middle;
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: 1px;
        padding: 0 0 0 0;
    }

    ul#notic_list li>div .title {
        display: table-cell;
        padding: 22px 20px 22px 0;
        font-size: 1.2rem;
        letter-spacing: 2px;
        text-align: left;
          
    }

    ul#notic_list li>div .title a {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 895px) {
    ul#notic_list {
        width: 100%;
        margin: 0 auto 20px;
    }

    ul#notic_list li {
        display: block;
        border-bottom: 1px dotted #666;
        position: relative;
    }

    ul#notic_list li>div {
        display: table;
        width: 100%;
        text-decoration: none;
    }

    ul#notic_list li>div .date {
        display: table-cell;
        width: 24%;
        font-size: 1.0rem;
        letter-spacing: 0px;
    }

    ul#notic_list li>div .title {
        display: table-cell;
        padding: 12px 10px 12px 10px;
        font-size: 1.0rem;
        letter-spacing: 1px
    }

    ul#notic_list li>div .title a {
        font-size: 1.0rem;
    }

}