.pad50 {
    padding: 50px 0px 0px 0px;
}

.pad25 {
        padding: 25px 0px 0px 0px;
}

.pad_border {
    padding: 25px 0px 0px 0px;
    border-top-style: ridge;
}

@media (max-width: 768px){
    .pad_border {
        padding: 0px 0px 0px 0px;    
    }
}

/* page topのボタン用 */
#scrollTop {
    display: none;  /* 最初は非表示にしておく */
    background: radial-gradient(#4e54c8, royalblue);
    border-radius: 40px;
    bottom: 10px;
    right: 10px;
    padding: 6px;
    text-align: center;
    position: fixed;  /* 位置は右下で固定 */
    z-index: 10;      /* cardより前面に表示したいので */
    box-shadow:0 3px 3px rgba(0,0,0,0.5);
  }

  #scrollTop a{
    padding: 2px;
    color: white;
  }

  #scrollTop i{
    padding: 5px;
    font-size: 30px;
    transform: rotate(-90deg);
  }

  /* --------------------------------------------------
 TOPページ全般に関するCSS
 -------------------------------------------------- */

  


/* --------------------------------------------------
 TOPページの動く背景のエリアのコード
 -------------------------------------------------- */
.index-page .page-header {
    height: 66vh;
}

 @media screen and (min-width: 896px) and (max-width: 1279px) {
     .index-page .page-header {
         height: 55vh;
     }
 }

 @media screen and (max-width: 895px) {
     .index-page .page-header {
         height: 50vh;
     }
 }

.area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;


}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* --------------------------------------------------
 タイトル
 -------------------------------------------------- */

 .index-page .brand h1 {
     font-size: 4.3em;
 }

 .index-page .brand h3 {
     font-size: 1.6em;
 }

@media screen and (min-width: 896px) and (max-width: 1279px) {
    .index-page .brand h1 {
        font-size: 3.5em;
    }
    .index-page .brand h3 {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 895px) {
    .index-page .brand h1 {
        font-size: 3.0em;
    }
    .index-page .brand h3 {
        font-size: 1.0em;
    }
}


/* --------------------------------------------------
 編入・就職・イベントの3つのカードCSS
 -------------------------------------------------- */

.contents_introduction {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.contents_introduction h2 {
    font-size: 2.0em;
    margin-bottom: 20px;
    margin-top: 0px;

}

.contents_introduction h4 {
    font-size: 1.1em;
}

@media screen and (min-width: 896px) and (max-width: 1279px) {
      .contents_introduction h2 {
          font-size: 1.7em;
      }

      .contents_introduction h4 {
          font-size: 1.0em;
      }
  }

@media screen and (max-width: 895px) {
      .contents_introduction h2 {
          font-size: 1.3em;
      }

      .contents_introduction h4 {
          font-size: 0.75em;
      }
  
}


.contents_list i{
     font-family: 'Material Icons';
     font-weight: normal;
     font-style: normal;
     font-size: 3.8em;
     color: #4e54c8;
     line-height: 1;
     letter-spacing: normal;
     text-transform: none;
     display: inline-block;
     white-space: nowrap;
     word-wrap: normal;
     direction: ltr;
     -webkit-font-smoothing: antialiased;
 }

 .contents_list p {
     font-size: 1.3em;
     color: #3C4858;
 }

 @media screen and (min-width: 896px) and (max-width: 1279px) {
     .contents_list i {
         font-size: 3.5em;
     }

     .contents_list p{
         font-size: 1.0em;
     }

     .card .card-body,
     .card .card-footer {
         padding: 8px 8px 8px 8px;
     }
 }

 @media screen and (max-width: 895px) {
    .contents_list i {
        font-size: 3.0em;
    }

    .contents_list p {
        font-size: 0.8em;
    }

    .card .card-body,
    .card .card-footer {
        padding: 5px 10px 10px 5px;
    }

    .col-4.main-item{
        padding-right: 0.3em;
        padding-left: 0.3em;
    }
 }

 /* --------------------------------------------------
 お知らせ一覧に関するCSS
 -------------------------------------------------- */

  ol,
  ul {
      list-style: none;
      padding-inline-start: 0px;
  }


  ul#notic_list {
      display: block;
      clear: both;
      margin: 0 0 30px 0;
      border-top: 1px dotted #666;
  }

  ul#notic_list li {
      display: block;
      border-bottom: 1px dotted #666;
      position: relative;
  }

  ul#notic_list li>div {
      display: table;
      width: 100%;
      text-decoration: none;
  }

  ul#notic_list li>div .date {
      display: block;
      width: 100%;
      text-align: left;
      font-size: 1.0rem;
      margin: 5px 0px 0px 0px;
      letter-spacing: 1px;
      padding: 0 0 0 0;
  }

  ul#notic_list li>div .title {
      text-align: center;
      display: block;
      margin: 0px 0px 0px 0px;
      letter-spacing: 2px;
      padding-bottom: 20px;
  }

  ul#notic_list li>div .title a {
      font-size: 1.0rem;
      color: #3C4858;
      font-family: "Roboto",
          "Helvetica",
          "Arial",
          sans-serif;
      font-weight: 200;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      background: transparent;
      transition: .2s;
      text-decoration: underline;
  }


  @media screen and (min-width: 896px) and (max-width: 1279px) {
      ul#notic_list {
          display: block;
          clear: both;
          width: 100%;
          margin: 0 auto 30px;
          border-top: 1px dotted #666;
      }

      ul#notic_list li {
          display: block;
          border-bottom: 1px dotted #666;
          position: relative;
      }

      ul#notic_list li>div {
          display: table;
          width: 100%;
          text-decoration: none;
      }

      ul#notic_list li>div .date {
        display: block;
        width: 100%;
        text-align: left;
        font-size: 0.8rem;
        margin: 5px 0px 0px 0px;
        letter-spacing: 1px;
        padding: 0 0 0 0;
    }
  
    ul#notic_list li>div .title {
        text-align: center;
        display: block;
        margin: 0px 0px 0px 0px;
        letter-spacing: 2px;
    }

      ul#notic_list li>div .title a {
          font-size: 0.8rem;
      }
  }

  @media screen and (max-width: 895px) {
      ul#notic_list {
          width: 100%;
          margin: 0 auto 20px;
      }

      ul#notic_list li {
          display: block;
          border-bottom: 1px dotted #666;
          position: relative;
      }

      ul#notic_list li>div {
          display: table;
          width: 100%;
          text-decoration: none;
      }

      ul#notic_list li>div .date {
          text-align: left;
          display: block;
          width: 100%;
          font-size: 0.8rem;
          letter-spacing: 0px;
      }

      ul#notic_list li>div .title {
          display: block;
          letter-spacing: 1px
      }

      ul#notic_list li>div .title a {
          font-size: 0.8rem;
      }

  }

  /* --------------------------------------------------
 イベント一覧に関するCSS（TOPページ）
 -------------------------------------------------- */

@media (max-width: 768px){
    .v2-event__logo {
        display: none;
    }
}

.v2-event-list__item {
    width: 100%;
    min-height: 112px;
    margin-bottom: 15px;
    padding: 16px 20px 16px 17px;
    background-color: #fff;
    border-left: 3px solid #4e54c8;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #e1e1e1;
}

.v2-event__logo {
    float: right;
    margin: 20px 8px 8px 8px;
    width: 100px;
    height: 100px;
    border: 1px solid #F0F1F2;
    border-radius: 2px;
}

.v2-event__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #053053;
}

.eventTags{
    margin: 5px 0px 0px 14px;
    font-size: 12px;
    color: #3C4858;
}

.eventDate {
    margin: 0px 0px 0px 14px;
    font-size: 12px;
    color: #8a8f9c;
}

.eventPlace {
    margin: 0px 0px 0px 14px;
    font-size: 12px;
    color: #8a8f9c;
}

.eventTitle{
    font-weight: bold;
    font-size: 1.0em;
    margin: 15px;
    line-height: 1.2;
    color: #3C4858;
  }

.badge {
    padding: 4px 10px;
    text-transform: uppercase;
    /* font-size: 10px; */
    font-size: 60%;
    color: #fff;
}

.special_badge{
    padding: 0px 0px 0px 15px;
}

img {
    vertical-align: bottom;
}

/* --------------------------------------------------
 一覧ページ遷移用のCSS
 -------------------------------------------------- */
.nextArea{
    text-align: right;
}
.go_list{
     font-weight: 400;
     color: #053053;
 }


   /* --------------------------------------------------
 一覧・詳細ページ全般に関するCSS
 -------------------------------------------------- */

  /* --------------------------------------------------
ページ上部を画像にするコード
 -------------------------------------------------- */
 
.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
  }
  
  .bg-image-full::before{
      background-color: rgba(0,0,0,0.5);
      /* どの範囲に重ねるかを指定 */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: ' ';
  }
  
  .brand{
      z-index:1;
  }
  
  .navbar {
      border: 0;
      border-radius: 3px;
      padding: 0.625rem 0;
      margin-bottom: 0px;
      color: #555;
      background-color: #fff !important;
      box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  }
  
  .card#event, .card#career{
    height: 90%;
  }
  
  .card#event:hover, .card#career:hover{
    box-shadow:0 3px 6px rgba(0,0,0,0.5);
  }
  
  /*TO DISPLAY UNIVERSITYIES EACHES */
  
  .product {
      /*
      margin-bottom: 20px;
      */
      padding-top:20px;
      padding-bottom:20px;
  }
  
  .img-thumbnail {
      height: auto; 
      max-width: 100%;
      border-radius: 0px;
  }
  
  .product:hover{
    box-shadow: 0px 0px 8px 3px #ccc;
    color: red;
  }
  
  a, a:hover, a:visited, a:link, a:active {
    color: black;
  }
  
  .forbadge{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .nameUni{
    font-weight: 700;
    color: #3C4858;
  }
  
  .univ-parent{
    position: relative;
  }
  
  .nameCom{
    font-weight: 700;
  }
  
  .label-checkbox {
    user-select:none;
    /*font-size: 100%;*/
  }
  
  .button-checkbox {
    display: none
  }
  
  .radio-order {
    display: none
  }
  
  .padding-res{
    padding: 30px 0px 0px 0px;
}

.comp_name{
    padding: 30px 0px 0px 0px;
}

@media screen and (max-width: 574px) {
    .padding-res{
        /*
        padding: 0px 0px 0px 0px;
        */
    }
}
  

  /* --------------------------------------------------
 お知らせページ全般に関するCSS
 -------------------------------------------------- */

 .content_news {
    background: #ffffff;
}

 .wrap {
     position: relative;
     width: 100%;
     margin-right: auto;
     margin-left: auto;
 }

 #container {
     position: relative;
 }

 @media screen and (min-width: 896px) and (max-width: 1279px) {
     .wrap {
         width: 100%;
         margin-right: 0;
         margin-left: 0;
     }
 }

 @media screen and (max-width: 895px) {
     .wrap {
         width: 100%;
         box-sizing: border-box;
         padding: 0 3% 0;
     }

     .wrap02 {
         width: 100%;
         box-sizing: border-box;
         padding: 0 3% 0;
     }
 }

 ol,
 ul {
     list-style: none;
     padding-inline-start: 0px;
 }


 ul#notic_list_v2 {
     display: block;
     clear: both;
     margin: 0 0 30px 0;
     border-top: 1px dotted #666;
 }

 ul#notic_list_v2 li {
     display: block;
     border-bottom: 1px dotted #666;
     position: relative;
 }

 ul#notic_list_v2 li>div {
     display: table;
     width: 100%;
     text-decoration: none;
 }

 ul#notic_list_v2 li>div .date {
     display: table-cell;
     width: 250px;
     vertical-align: middle;
     text-align: center;
     font-size: 1.4rem;
     letter-spacing: 1px;
     padding: 0 0 0 0;
 }

 ul#notic_list_v2 li>div .title {
     display: table-cell;
     padding: 22px 60px 22px 0;
     font-size: 1.4rem;
     letter-spacing: 2px;
     text-align: left;
 }

 ul#notic_list_v2 li>div .title a {
     font-size: 1.2rem;
     color: #3C4858;
     font-family: "Roboto",
         "Helvetica",
         "Arial",
         sans-serif;
     font-weight: 200;
     margin: 0;
     padding: 0;
     vertical-align: baseline;
     background: transparent;
     transition: .2s;
     text-decoration: underline;
 }


 @media screen and (min-width: 896px) and (max-width: 1279px) {
     ul#notic_list_v2 {
         display: block;
         clear: both;
         width: 100%;
         margin: 0 auto 30px;
         border-top: 1px dotted #666;
     }

     ul#notic_list_v2 li {
         display: block;
         border-bottom: 1px dotted #666;
         position: relative;
     }

     ul#notic_list_v2 li>div {
         display: table;
         width: 100%;
         text-decoration: none;
     }

     ul#notic_list_v2 li>div .date {
         display: table-cell;
         width: 180px;
         vertical-align: middle;
         text-align: center;
         font-size: 1.2rem;
         letter-spacing: 1px;
         padding: 0 0 0 0;
     }

     ul#notic_list_v2 li>div .title {
         display: table-cell;
         padding: 22px 20px 22px 0;
         font-size: 1.2rem;
         letter-spacing: 2px;
         text-align: left;

     }

     ul#notic_list_v2 li>div .title a {
         font-size: 1.2rem;
     }
 }

 @media screen and (max-width: 895px) {
     ul#notic_list_v2 {
         width: 100%;
         margin: 0 auto 20px;
     }

     ul#notic_list_v2 li {
         display: block;
         border-bottom: 1px dotted #666;
         position: relative;
     }

     ul#notic_list_v2 li>div {
         display: table;
         width: 100%;
         text-decoration: none;
     }

     ul#notic_list_v2 li>div .date {
         display: table-cell;
         width: 24%;
         font-size: 0.8rem;
         letter-spacing: 0px;
     }

     ul#notic_list_v2 li>div .title {
         display: table-cell;
         padding: 12px 10px 12px 10px;
         font-size: 0.9rem;
         letter-spacing: 1px
     }

     ul#notic_list_v2 li>div .title a {
         font-size: 0.9rem;
     }

 }

 #newshead {
     padding: 20px 40px 30px;
     border-bottom: 1px dotted #333;
     margin: 0 0 30px 0;
 }

 #newshead .date {
     font-size: 1.8rem;
     letter-spacing: 2px;
     line-height: 30px;
     margin: 0 0 20px 0;
 }

 #newshead .date02 {
     display: inline-block;
     font-size: 1.8rem;
     letter-spacing: 2px;
     margin: 0 20px 20px 0;
 }

 #newshead strong {
     display: inline-block;
     width: 110px;
     height: 30px;
     background: #3c3c3c;
     text-align: center;
     color: #FFF;
     line-height: 30px;
     letter-spacing: 3px;
     vertical-align: top;
 }

 #newshead strong.ee {
     border-left: 17px solid #3c6f3c;
 }

 #newshead strong.sdm {
     border-left: 17px solid #004389;
 }

 #newshead strong.psi {
     border-left: 17px solid #be0b3c;
 }

 #newshead strong.other {
     border-left: 17px solid #a0a0a0;
 }

 #newshead h3 {
     font-size: 2.2rem;
     letter-spacing: 2px;
     margin: 0 0 20px 0;
 }

 #newsbody {
     padding: 0 40px 30px;
     border-bottom: 1px dotted #333;
     margin: 0 0 30px 0;
 }

 #newsbody p {
     font-size: 1.1rem;
     line-height: 1.8;
     margin: 0 0 30px 0;
 }

 #newsbody table {
     margin: 0 0 30px 0;
 }

 #newsbody table td {
     font-size: 1.8rem;
     line-height: 1.8;
     padding: 0 10px 10px 0;
 }

 #newsbody .overview {
     font-weight: 600;
 }

 #newsbody .attention {
     font-size: 1.4rem;
     line-height: 1.8;
     padding: 0 0 40px 0;
 }

 #newsbody a {
   color: #053053;
   display: block;
 }

#newsbody a:hover {
  text-decoration: underline;
  text-decoration-color: #053053;
}

 @media screen and (min-width: 896px) and (max-width: 1279px) {

     #newshead {
         padding: 20px 30px 30px;
         border-bottom: 1px dotted #333;
         margin: 0 3% 30px;
     }

     #newsbody {
         padding: 0 3% 20px;
         margin: 0 0 20px 0;
     }
 }

 @media screen and (max-width: 895px) {

     #newshead {
         padding: 10px 3% 20px;
         margin: 0 0 20px 0;
     }

     #newshead .date {
         font-size: 1.2rem;
         letter-spacing: 2px;
         margin: 0 0 10px 0;
     }

     #newshead .date02 {
         font-size: 1.2rem;
         letter-spacing: 2px;
         margin: 0 8px 10px 0;
         vertical-align: bottom;
         line-height: 30px;
     }

     #newshead strong {
         vertical-align: top;
     }

     #newshead h3 {
         font-size: 1.6rem;
         letter-spacing: 2px;
         margin: 0 0 0 0;
     }

     #newsbody {
         padding: 0 3% 20px;
         margin: 0 0 20px 0;
     }

     #newsbody p {
         font-size: 1.2rem;
         line-height: 1.8;
         margin: 0 0 20px 0;
     }

     #newsbody .attention {
         font-size: 1.2rem;
         line-height: 1.8;
         padding: 0 0 0px 0;
     }
 }

  /* --------------------------------------------------
 Aboutページ全般に関するCSS
 -------------------------------------------------- */

 .about-tab-header {
     padding: 6px;
 }

 .about-tab-header.card-header-primary {
    background: linear-gradient(60deg, #4e54c8, rgba(18, 18, 199, 0.733));
    box-shadow: 0 5px 20px 0px rgba(28, 88, 218, 0.2), 0 13px 24px -11px rgba(35, 16, 212, 0.6);
    padding: 3px 3px 3px 3px;
 }

.about .nav-item {
    width: calc(100% / 3);
}

.about .nav-link {
    text-align: center;
    font-size: 20px;
}

.three-arrow-img {
    width: 100%;
    position: relative;
}

.three-arrow-img::before {
    content: "";
    display: block;
    padding-top: 80%;
}

.three-arrow-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.about-section {
    margin: 5% 0 0;
}

.about-content {
    text-align: center;
    padding: 0 3%;
}

.about-content span {
    display: inline-block;
}

.member-img {
    width: 100%;
    position: relative;
}

.member-img::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.member-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 50%;
}

.float-member {
    float: right;
    width: 40%;
}

.float-clear {
    clear: both;
}

.member-card .card-body {
    padding: 8px;
}

.member-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.member-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-content h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.member-content p {
    margin: 0;
}

.information-table td {
    border: solid 1px;
}

@media screen and (min-width: 896px) {
    .information-table {
        background-color: #f7f7f7;
        border-collapse: collapse;
        width: 80%;
        margin: 0 auto;
    }

    .member {
        max-width: 720px;
    }
}

@media screen and (max-width: 895px) {
    .information-table {
        background-color: #f7f7f7;
        border-collapse: collapse;
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .hidden-big {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .hidden-small {
        display: none;
    }
}