

.pad25 {
        padding: 10px 0 25px 0;
}

.pad10 {
    padding: 10px 0 0 0;
}

.pad50 {
    padding: 50px 0 0 0;
}


/* page topのボタン用 */
#scrollTop {
    display: none;  /* 最初は非表示にしておく */
    background: radial-gradient(#4e54c8, royalblue);
    border-radius: 40px;
    bottom: 10px;
    right: 10px;
    padding: 6px;
    text-align: center;
    position: fixed;  /* 位置は右下で固定 */
    z-index: 10;      /* cardより前面に表示したいので */
    box-shadow:0 3px 3px rgba(0,0,0,0.5);
  }

  #scrollTop a{
    padding: 2px;
    color: white;
  }

  #scrollTop i{
    padding: 5px;
    font-size: 30px;
    transform: rotate(-90deg);
  }

  /* --------------------------------------------------
 TOPページ全般に関するCSS
 -------------------------------------------------- */

  


/* --------------------------------------------------
 TOPページの動く背景のエリアのコード
 -------------------------------------------------- */

 .index-page .page-header {
    height: 50vh;
}

.area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;


}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* --------------------------------------------------
 タイトル
 -------------------------------------------------- */

 .index-page .brand h1 {
     font-size: 4.3em;
 }

 .index-page .brand h3 {
     font-size: 1.6em;
 }

@media screen and (min-width: 896px) and (max-width: 1279px) {
    .index-page .brand h1 {
        font-size: 3.5em;
    }
    .index-page .brand h3 {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 895px) {
    .index-page .brand h1 {
        font-size: 3.0em;
    }
    .index-page .brand h3 {
        font-size: 1.0em;
    }
}


/* --------------------------------------------------
 編入・就職・イベントの3つのカードCSS
 -------------------------------------------------- */

.contents_introduction {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.contents_introduction h2 {
    font-size: 2.0em;
}

.contents_introduction h4 {
    font-size: 1.1em;
}

@media screen and (min-width: 896px) and (max-width: 1279px) {
      .contents_introduction h2 {
          font-size: 1.7em;
      }

      .contents_introduction h4 {
          font-size: 1.0em;
      }
  }

@media screen and (max-width: 895px) {
      .contents_introduction h2 {
          font-size: 1.3em;
      }

      .contents_introduction h4 {
          font-size: 0.8em;
      }
  
}

.contents_list a{
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.contents_list a:hover{
    color: indianRed;
    text-decoration: inherit;
}

.contents_list i{
     font-family: 'Material Icons';
     font-weight: normal;
     font-style: normal;
     font-size: 3.8em;
     color: #4e54c8;
     line-height: 1;
     letter-spacing: normal;
     text-transform: none;
     display: inline-block;
     white-space: nowrap;
     word-wrap: normal;
     direction: ltr;
     -webkit-font-feature-settings: 'liga';
     -webkit-font-smoothing: antialiased;
 }

 .contents_list p {
     font-size: 1.3em;
 }

 @media screen and (min-width: 896px) and (max-width: 1279px) {
     .contents_list i {
         font-size: 3.5em;
     }

     .contents_list p{
         font-size: 1.0em;
     }

     .card .card-body,
     .card .card-footer {
         padding: 8px 8px 8px 8px;
     }
 }

 @media screen and (max-width: 895px) {
    .contents_list i {
        font-size: 3.0em;
    }

    .contents_list p {
        font-size: 0.5em;
    }

    .card .card-body,
    .card .card-footer {
        padding: 5px 0px 0px 5px;
    }
 }

 /* --------------------------------------------------
 お知らせ一覧に関するCSS
 -------------------------------------------------- */

 .content_news {
     background: #ffffff;
 }

  .wrap {
      position: relative;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
  }

  #container {
      position: relative;
  }

  @media screen and (min-width: 896px) and (max-width: 1279px) {
      .wrap {
          width: 100%;
          margin-right: 0;
          margin-left: 0;
      }
  }

  @media screen and (max-width: 895px) {
      .wrap {
          width: 100%;
          box-sizing: border-box;
          padding: 0 3% 0;
      }

      .wrap02 {
          width: 100%;
          box-sizing: border-box;
          padding: 0 3% 0;
      }
  }

  ol,
  ul {
      list-style: none;
      padding-inline-start: 0px;
  }


  ul#notic_list {
      display: block;
      clear: both;
      margin: 0 0 30px 0;
      border-top: 1px dotted #666;
  }

  ul#notic_list li {
      display: block;
      border-bottom: 1px dotted #666;
      position: relative;
  }

  ul#notic_list li>div {
      display: table;
      width: 100%;
      text-decoration: none;
  }

  ul#notic_list li>div .date {
      display: table-cell;
      width: 250px;
      vertical-align: middle;
      text-align: center;
      font-size: 1.4rem;
      letter-spacing: 1px;
      padding: 0 0 0 0;
  }

  ul#notic_list li>div .title {
      display: table-cell;
      padding: 22px 60px 22px 0;
      font-size: 1.4rem;
      letter-spacing: 2px;
      text-align: left;
  }

  ul#notic_list li>div .title a {
      font-size: 1.2rem;
      color: #3C4858;
      font-family: "Roboto",
          "Helvetica",
          "Arial",
          sans-serif;
      font-weight: 200;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      background: transparent;
      transition: .2s;
      text-decoration: underline;
  }


  @media screen and (min-width: 896px) and (max-width: 1279px) {
      ul#notic_list {
          display: block;
          clear: both;
          width: 100%;
          margin: 0 auto 30px;
          border-top: 1px dotted #666;
      }

      ul#notic_list li {
          display: block;
          border-bottom: 1px dotted #666;
          position: relative;
      }

      ul#notic_list li>div {
          display: table;
          width: 100%;
          text-decoration: none;
      }

      ul#notic_list li>div .date {
          display: table-cell;
          width: 180px;
          vertical-align: middle;
          text-align: center;
          font-size: 1.4rem;
          letter-spacing: 1px;
          padding: 0 0 0 0;
      }

      ul#notic_list li>div .title {
          display: table-cell;
          padding: 22px 20px 22px 0;
          font-size: 1.2rem;
          letter-spacing: 2px;
          text-align: left;

      }

      ul#notic_list li>div .title a {
          font-size: 1.2rem;
      }
  }

  @media screen and (max-width: 895px) {
      ul#notic_list {
          width: 100%;
          margin: 0 auto 20px;
      }

      ul#notic_list li {
          display: block;
          border-bottom: 1px dotted #666;
          position: relative;
      }

      ul#notic_list li>div {
          display: table;
          width: 100%;
          text-decoration: none;
      }

      ul#notic_list li>div .date {
          display: table-cell;
          width: 24%;
          font-size: 1.0rem;
          letter-spacing: 0px;
      }

      ul#notic_list li>div .title {
          display: table-cell;
          padding: 12px 10px 12px 10px;
          font-size: 1.0rem;
          letter-spacing: 1px
      }

      ul#notic_list li>div .title a {
          font-size: 1.0rem;
      }

  }

  #newshead {
      padding: 20px 40px 30px;
      border-bottom: 1px dotted #333;
      margin: 0 0 30px 0;
  }

  #newshead .date {
      font-size: 1.8rem;
      letter-spacing: 2px;
      line-height: 30px;
      margin: 0 0 20px 0;
  }

  #newshead .date02 {
      display: inline-block;
      font-size: 1.8rem;
      letter-spacing: 2px;
      margin: 0 20px 20px 0;
  }

  #newshead strong {
      display: inline-block;
      width: 110px;
      height: 30px;
      background: #3c3c3c;
      text-align: center;
      color: #FFF;
      line-height: 30px;
      letter-spacing: 3px;
      vertical-align: top;
  }

  #newshead strong.ee {
      border-left: 17px solid #3c6f3c;
  }

  #newshead strong.sdm {
      border-left: 17px solid #004389;
  }

  #newshead strong.psi {
      border-left: 17px solid #be0b3c;
  }

  #newshead strong.other {
      border-left: 17px solid #a0a0a0;
  }

  #newshead h3 {
      font-size: 2.2rem;
      letter-spacing: 2px;
      margin: 0 0 20px 0;
  }

  #newsbody {
      padding: 0 40px 30px;
      border-bottom: 1px dotted #333;
      margin: 0 0 30px 0;
  }

  #newsbody p {
      font-size: 1.1rem;
      line-height: 1.8;
      margin: 0 0 30px 0;
  }

  #newsbody table {
      margin: 0 0 30px 0;
  }

  #newsbody table td {
      font-size: 1.8rem;
      line-height: 1.8;
      padding: 0 10px 10px 0;
  }

  #newsbody .overview {
      font-weight: 600;
  }

  #newsbody .attention {
      font-size: 1.4rem;
      line-height: 1.8;
      padding: 0 0 40px 0;
  }

  @media screen and (min-width: 896px) and (max-width: 1279px) {

      #newshead {
          padding: 20px 30px 30px;
          border-bottom: 1px dotted #333;
          margin: 0 3% 30px;
      }

      #newsbody {
          padding: 0 3% 20px;
          margin: 0 0 20px 0;
      }
  }

  @media screen and (max-width: 895px) {

      #newshead {
          padding: 10px 3% 20px;
          margin: 0 0 20px 0;
      }

      #newshead .date {
          font-size: 1.2rem;
          letter-spacing: 2px;
          margin: 0 0 10px 0;
      }

      #newshead .date02 {
          font-size: 1.2rem;
          letter-spacing: 2px;
          margin: 0 8px 10px 0;
          vertical-align: bottom;
          line-height: 30px;
      }

      #newshead strong {
          vertical-align: top;
      }

      #newshead h3 {
          font-size: 1.6rem;
          letter-spacing: 2px;
          margin: 0 0 0 0;
      }

      #newsbody {
          padding: 0 3% 20px;
          margin: 0 0 20px 0;
      }

      #newsbody p {
          font-size: 1.2rem;
          line-height: 1.8;
          margin: 0 0 20px 0;
      }

      #newsbody table {
          display: block;
          margin: 0 0 20px 0;
      }

      #newsbody table tbody {
          display: block;
      }

      #newsbody table tr {
          display: block;
      }

      #newsbody table td {
          display: block;
          font-size: 1.2rem;
          line-height: 1.8;
          padding: 0 0 10px 0;
      }

      #newsbody .attention {
          font-size: 1.2rem;
          line-height: 1.8;
          padding: 0 0 0px 0;
      }
  }

  /* --------------------------------------------------
 イベント一覧に関するCSS
 -------------------------------------------------- */

@media screen and (max-width: 575px) {
  .listImg {
      height: auto;
  }
}