<% content_for :title do %>
ログイン
<% end %>


<div class="page-header header-filter" style="background-image: url('./assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
  <div class="container">
    <div style="margin-top:80px;">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <%= form_tag("/login") do %>
          <div class="card card-login">
            <form class="form" method="" action="">
              <div class="card-header card-header-primary text-center">
                <h3 class="card-title">WUKSにログイン</h3>
              </div>
              <div class="card-body">
              <div class="text-center">
                <% if @error_message %>
                  <h4 style="color:red;">
                    <%= @error_message %>
                  </h4>
                <% end %>
              </div>
               <span class="bmd-form-group"><div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input name="email" type="email" class="form-control" placeholder="Email..." value="<%= @email %>">
                </div></span>
                <span class="bmd-form-group"><div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input name="password" type="password" class="form-control" placeholder="Password..." value="<%= @password %>">
                </div></span>
              </div>
              <div class="footer text-center">
                <h4><input type="submit" value="ログイン" class="btn btn-primary"></h4>
                <br>
                <a href="/registar" class="btn btn-primary btn-link btn-link btn-wd">新規登録</a>
              </div>
            </form>
          </div>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>