<div class="container">
  <div class="row">
    <div class="col-12">
      <table>
        <tbody>
          <tr>
            <td>
              社名
            </td>
            <td>
              eNM
            </td>
          </tr>
          <tr>
            <td>
              所在地
            </td>
            <td>
              福岡
            </td>
          </tr>
          <tr>
            <td>
              設立
            </td>
            <td>
              2018年
            </td>
          </tr>
          <tr>
            <td>
              資本金
            </td>
            <td>
              100万円
            </td>
          </tr>
          <tr>
            <td>
              代表者名
            </td>
            <td>
              宮薗大雅
            </td>
          </tr>
          <tr>
            <td>
              事業内容
            </td>
            <td>
              高専生の支援
            </td>
          </tr>
          <tr>
            <td>
              メールアドレス
            </td>
            <td>
              kyu.corp.1008@gmail.com
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>