<% content_for :title do %>
About | WUKS
<% end %>

<section class="py-5 bg-image-full" style="background-image: url(<%= asset_path('img/bg_univ.jpg') %>);">
  <div style="height: 150px;">
    <div class="pt-5">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>About</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
  <div class="card card-nav-tabs card-plain about">
    <div class="about-tab-header card-header-primary">
      <div class="nav-tabs-navigation">
        <ul class="nav nav-tabs justify-content-center" data-tabs="tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#index" data-toggle="tab">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#information" data-toggle="tab">会社情報</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#member" data-toggle="tab">活動メンバー</a>
          </li>
        </ul>
      </div>
    </div>
    <div class ="pt-3"></div>
    <div class="card-body">
      <div class="tab-content text-center">
        <div class="tab-pane active" id="index">
          <%= render partial: "about"%>
        </div>
        <div class="tab-pane" id="information">
          <%= render partial: "information"%>
        </div>
        <div class="tab-pane" id="member">
          <%= render partial: "member"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pt-5"></div>