<% content_for :title do %>
<%= @univ.name %> | 進学
<% end %>

<section class="py-5 bg-image-full" style="background-image: url('/assets/img/univ/<%= @univ.name %>.jpg');">
    <div style="height: 150px;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1><%= @univ.name %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class ="container">
<div class="pt-3"></div>
<h2 class ="heading"> 募集学部</h2>
<div class="card-header card-header-primary">
  <div class="card card-nav-tabs card-plain">
    <div class="card-header card-header-primary">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#工学部" data-toggle="tab">工学部</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#理学部" data-toggle="tab">理学部</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#経済学部" data-toggle="tab">経済学部</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#芸術工学部" data-toggle="tab">芸術工学部</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="tab-content pl-3">
        <div class="tab-pane active" id="工学部">
          <h4 class ="sub">試験時期</h4>
          <ul class>
            <li>推薦入試：6月初旬</li>
            <li>一般入試：8月中旬</li>
          </ul>
          <h4 class ="sub">合格発表</h4>
          <ul class>
            <li>推薦入試：6月末</li>
            <li>一般入試：9月初旬</li>
          </ul>
          <h4 class="sub">募集学科</h4>
          <ul class>
            <li>建築学科</li>
            <li>電気情報工学科</li>
            <li>物質科学工学科</li>
            <li>地球環境工学科</li>
            <li>エネルギー科学科</li>
            <li>機械航空工学科</li>
          </ul>
          <div class ="text-center">
            <button class="btn btn-primary">もっと詳しく見る
              <div class="ripple-container"></div>
            </button>
          </div>
        </div>
        <div class="tab-pane" id="理学部">
          <h4 class ="sub">試験時期</h4>
          <ul class>
            <li>一般入試：7月初旬</li>
          </ul>
          <h4 class ="sub">合格発表</h4>
          <ul class>
            <li>一般入試：7月中旬</li>
          </ul>
          <h4 class="sub">募集学科</h4>
          <ul class>
            <li>物理学科</li>
            <li>数学科</li>
          </ul>
          <div class ="text-center">
            <button class="btn btn-primary">もっと詳しく見る
              <div class="ripple-container"></div>
            </button>
          </div>
        </div>
        <div class="tab-pane" id="経済学部">
          <h4 class ="sub">試験時期</h4>
          <ul class>
            <li>推薦入試：6月末</li>
          </ul>
          <h4 class ="sub">合格発表</h4>
          <ul class>
            <li>推薦入試：7月末</li>
          </ul>
          <h4 class="sub">募集学科</h4>
          <ul class>
            <li>経済工学科</li>
          </ul>
          <div class ="text-center">
            <button class="btn btn-primary">もっと詳しく見る
              <div class="ripple-container"></div>
            </button>
          </div>
        </div>
        <div class="tab-pane" id="芸術工学部">
          <h4 class ="sub">試験時期</h4>
          <ul class>
            <li>一般入試：7月初旬</li>
          </ul>
          <h4 class ="sub">合格発表</h4>
          <ul class>
            <li>一般入試：7月末</li>
          </ul>
          <h4 class="sub">募集学科</h4>
          <ul class>
            <li>環境設計学科</li>
            <li>工業設計学科</li>
            <li>画像設計学科</li>
            <li>音響設計学科</li>
            <li>芸術情報設計学科</li>
          </ul>
          <div class ="text-center">
            <button class="btn btn-primary">もっと詳しく見る
              <div class="ripple-container"></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class ="container">
  <div class ="row pt-3">
    <div class="msr_box01">
      <a href="#">
        <img src="assets/img/univ/東京大学.jpg" width="210" height="140" alt="img"/>
        <h3 class="ttl">大阪大学</h3>
      </a>
    </div>
    <div class="msr_box01">
      <a href="#">
        <img src="app/assets/images/img/univ/東京大学.jpg" width="210" height="140" alt="img"/>
        <h3 class="ttl">東京大学</h3>
      </a>
    </div>
    <div class="msr_box01">
      <a href="#">
        <img src="assets/images/img/univ/東京大学.jpg" width="210" height="140" alt="img"/>
        <h3 class="ttl">東京工業大学</h3>
      </a>
    </div>
    <div class="msr_box01">
      <a href="#">
        <img src="/stylerecipe_img/dummy_img01.png" width="210" height="140" alt="img"/>
        <h3 class="ttl">名古屋大学</h3>
      </a>
    </div>
  </div>
</div>
