<section class="py-5 bg-image-full" style="background-image: url('./assets/img/bg7.jpg');">
    <div style="height: 150px;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>編入可能大学一覧</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class ="container">
  
  <a href ="#">
  <div class="row product mt-5 border">
    <div class="col-md-4">
      <img src="assets/img/univ/tokyo_univ.jpg" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-8">
      <h2>東京大学</h2>
      <p>編入難易度</p>
    </div>
  </div>
  </a>

  <a href ="#">
  <div class="row product border">
    <div class="col-md-4">
      <img src="assets/img/univ/tokyo_tech.jpg" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-8">
      <h2>東京工業大学</h2>
      <p>編入難易度</p>
    </div>
  </div>
  </a>

  <a href ="#">
  <div class="row product border">
    <div class="col-md-4">
      <img src="assets/img/univ/kyushu_univ.jpg" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-8">
      <h2>九州大学</h2>
      <p>編入難易度</p>
    </div>
  </div>
  </a>

  <a href ="#">
  <div class="row product border">
    <div class="col-md-4">
      <img src="assets/img/univ/nagoya_univ.jpg" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-8">
      <h2>名古屋大学</h2>
      <p>編入難易度</p>
    </div>
  </div>
  </a>
</div>
